@font-face {
    font-family: 'pf-isotext-pro", Sans-serif';
    src: url('../FONTS/PFIsotextPro-Regular.woff') format('woff'), url('../FONTS/PFIsotextPro-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'pf-isotext-pro", Sans-serif';
    src: url('../FONTS/PFIsotextPro-Bold.woff') format('woff'), url('../FONTS/PFIsotextPro-Bold.woff2') format('woff2');
    font-weight: 700;
}

/* Сброс и базовые стили  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Ссылки */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Общий */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Формы */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    font-family: 'pf-isotext-pro", Sans-serif';
    font-weight: 400;
}

.loader-bg{
    position:fixed;
    z-index:999999;
    background:#fff;
    width:100%;
    height:100%
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    z-index: 111111111111111111111111111;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.header{
    background-color: #fff;
}

.header-top__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-top__link{
    color: #272727;
    font-size: 22px;
    text-transform: uppercase;
}

.logo-mob{
    display: none;
}

.hamburger-lines{
    display: none;
}
.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 333;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 444;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.video-bg__content {
    z-index: 555;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

.date{
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.title{
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 40px;
}



 .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    padding-top: 15px;
}

.social-item{
    display: block;
    margin-right: 10px;
    margin-bottom: 15px;
}

.btn{
    width: 380px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD4E04;
    border-radius: 5px;
    color: #fff;
    font-size: 45px;
}

.btn:hover{
    opacity: 0.7;
}

.first-wr{
    padding: 70px 0;
    background: url('../IMAGES/bg1.jpg');
}

.wrapper-first{
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-title{
    font-size: 40px;
    font-weight: 700;
    margin-right: 50px;
    text-transform: uppercase;
    color: #fff;
}

.social-itemm{
    font-size: 40px;
    padding-left: 50px;
    position: relative;
}

.social-linkk{
    color: #fff;
}

.social-itemm:first-child::before{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url('../IMAGES/telegram.svg');
    top: 9px;
    left: 0;
}

.social-itemm:last-child::before{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url('../IMAGES/instagram.svg');
    top: 9px;
    left: 0;
}

/* О НАС */

.about{
    padding: 100px 0 150px;
}

.section-title{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section-title span{
    color: #FD4E04;
}

.about-list{
    display: flex;
    justify-content: space-between;
}

.about-list__item{
    list-style: none;
    text-align: center;
}

.about-list__img{
    margin-bottom: 20px;
}

.about-list__title{
    font-size: 19px;
}

.spikers-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.spikers-list__item{
    width: 350px;
    text-align: center;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    margin-right: 30px;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    color: #FD4E04;

}

.spicker-img{
    margin-bottom: 30px;
}

.spiker-name{
    font-size: 25px;
    color: #FD4E04;
    margin-bottom: 30px;
}

.spiker-info{
    font-size: 18px;
}

.section-text{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.spikers{
    padding-bottom: 150px;
    position: relative;
}

.btn-up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #FD4E04;
    position: fixed;
    right: 5%;
    bottom: 5%;
    transform: translate(0, -20%) rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 111;
    border-radius: 5px;
    cursor: pointer;
}

.line-right{
    position: absolute;
    bottom: -25%;
    right: 3%;
}

.anons{
    position: relative;
    margin-bottom: 130px;
}

.anons .line-left{
    position: absolute;
    left: 2%;
    top: 50%;
}

.line{
    position: absolute;
    width: 700px;
    height: 3px;
    top: 0;
    left: 6%;
    background-color: #FD4E04;
}

.line2{
    position: absolute;
    width: 700px;
    height: 3px;
    bottom: 0;
    left: 6%;
    background-color: #FD4E04;
}

.anons-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.anons-txt{
    text-transform: uppercase;
    font-size: 35px;
    width: 70%;
}

.aboutus{
    margin-bottom: 170px;
}

.aboutus-wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}

.aboutus-item{
    width: 47%;
}

.aboutus-item-box{
    display: flex;
}

.abouts-title{
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #FD4E04;
    margin-bottom: 10px;
}

.aboutus-text{
    font-size: 19px;
}

.swiper-wrapper{
    padding-bottom: 30px;
}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.swiper-pagination-bullet {
    width: 70px;
    height: 3px;
    display: inline-block;
    border-radius: 0;
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    opacity: .2;
}

.swiper-pagination-bullet-active {
    opacity: .8;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutus-item__images{
    position: relative;
    width: 100%;
}

.numb{
    position: absolute;
    bottom: 30%;
    right: -8%;
}

.numb2{
    position: absolute;
    bottom: 30%;
    left: -8%;
}

.aboutus-item__text{
    font-size: 19px;
    padding-top: 30px;
    position: relative;
}

.aboutus-item__text::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    top: 0;
    left: 0;
    background-color: #FD4E04;
}

.aboutus-item__text span{
    color: #FD4E04;
}

.last{
    padding-bottom: 20px;
}

.podrob{
    color: #272727;
    font-size: 16px;
    border-bottom: 1px dashed #000;
}

.podrob:hover{
    color: blue;
    border-bottom: 1px dashed blue;
}


.aboutus-btn{
    width: 380px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD4E04;
    border-radius: 5px;
    color: #fff;
    font-size: 45px;
}

.aboutus-btn:hover{
    opacity: 0.7;
}

.program{
    padding-bottom: 100px;
}

.program-title{
    margin-bottom: 50px;
}

.coming{
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

.buy{
    padding-bottom: 100px;
}

.buy-title{
    margin-bottom: 80px;
}

.buy-img{
    margin-bottom: 60px;;
}

.pakeges{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-bottom: 30px;
}

.pakege-vibor{
    display: flex;
    margin-right: 60px;
}

.pakage-vibor__info{
    padding-left: 30px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 30px;
}

.pakege-text{
    padding-top: 20px;
    width: 80%;
    font-size: 21px;
}

.pakege-text span{
    color: #FD4E04;
}

.pakage-wrapper{
    display: flex;
    justify-content: space-between;
}

.pakage-item{
    width: 350px;
    height: 900px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 30px 0;
    position: relative;
}

.pakege-btn{
    position: absolute;
    bottom: 5%;
    width: 345px;
    height: 60px;
    background-color: #FD4E04;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.pakege-btn:hover{
    opacity: 0.7;
}


.pakage-name{
    width: 345px;
    height: 60px;
    background-color: #272727;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 50px;
}

.pakege-list{
    padding: 0 30px;
    font-size: 20px;
}

.pakage-caption{
    margin-bottom: 70px;
}

.cap3{
    margin-bottom: 27px;
}

.pakage-list__item{
    list-style: disc;
    margin-bottom: 5px;
}

.snos{
    margin-top: 90px;
}

.snos span{
    color: #FD4E04;
}

.footer{
    background: #e87c35;
    padding: 100px;
}

.footer-wrapper{
    display: flex;
}
.partners-list{
    display: flex;
}
.contacts{
    width: 50%;
}
.partners{
    width: 50%;
}
.footer-contacts__title{
    font-size: 60px;
    color: #272727;
    margin-bottom: 30px;
}
.footer-contacts__text{
    font-size: 25px;
    color: #272727;
    margin-bottom: 30px;
}
.contact-list__link{
    display: block;
    font-size: 25px;
    color: #272727;
}

.contact-list__link span{
    color: #fff;
}

.partners-title{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #272727;
}

.partners-list{
    display: flex;
    gap: 20px;
    align-items: center;
}

@media (max-width: 1800px) {
       .line-right{
            display: none;
       } 
       .line-left{
        display: none;
    } 
}

@media (max-width: 1200px) {
    .numb {
        bottom: 27%;
        right: -7%;
    }
    .numb2 {
        bottom: 27%;
        left: -7%;
    }
    .header-top__link {
        font-size: 18px;
    }
    .date {
        font-size: 40px;
    }
    .title {
        font-size: 60px;
    }
    .first-wr {
        padding: 40px 0;
    }
    .first-title {
        font-size: 30px;
        font-weight: 700;
    }
    .social-itemm {
        font-size: 35px;
        padding-left: 40px;
    }
    .social-itemm:first-child::before {
        top: 0px;
    }
    .section-title {
        font-size: 50px;
    }
    .about-list__title {
        font-size: 16px;
    }
    .about {
        padding: 100px 0 100px;
    }
    .section-text {
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;
    }
    .line {
        width: 600px;
        top: 0;
        left: 0%;
    }
    .line2 {
        width: 600px;
        bottom: 0;
        left: 0%;
    }
}

@media (max-width: 1100px) {
    .pakage-item {
        width: 350px;
    }
    .pakage-wrapper {
        gap: 10px;
    }
}

@media (max-width: 1000px) {
    .numb {
        bottom: 23%;
        right: -10%;
    }
    .numb2 {
        bottom: 23%;
        left: -10%;
    }
    .pakage-item {
        width: 600px;
        height: 1000px;
    }
    .pakage-wrapper {
        gap: 20px;
    }
    .pakage-name {
        width: 100%;
    }
    .pakege-btn {
        width: 100%;
    }
    .anons-txt {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .numb {
        bottom: 17%;
        right: -13%;
    }
    .numb2 {
        bottom: 17%;
        left: -13%;
    }
    .pakage-wrapper {
        display: block;
    }
    .pakage-item {
        width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }
    .anons-txt {
        font-size: 20px;
    }
    .line {
        width: 300px;
    }
    .line2 {
        width: 300px;
    }
    
    .partners{
        order: 1;
        margin-right: 30px;
    }
   .contacts{
    order: 2;
   }
   .pakage-vibor__info {
    padding-top: 90px;
    }
    .title{
        font-size: 40px;
    }

.button{
    width: 40px;
    height: 40px;
}

}

@media (max-width:700px) {
    .lgm{
        display: none;
    }

    /* MOBILE-MENU */

    .hamburger{
        position: fixed;
        display: block;
        top: 5%;
        right: 5%;
        z-index: 1111111;
    }

    .bar{
        display: block;
        width: 30px;
        height: 4px;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        background-color: #FD4E04;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }

    .header-top__list{
        position: fixed;
        left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #FD4E04;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 11111111111111111;
        border-radius: 10px;
    }

    .header-top__link{
        color: #fff;
    }

    .header-top__item{
        margin: 16px 0;
    }

    .header-top__list.active{
        left: 0%;
    }

    /* MOBILE-MENU */

    .aboutus-item:nth-child(1){
        order: 2;
    }
    
    .aboutus-item:nth-child(2){
        order: 1;
    }
    
    .aboutus-item:nth-child(3){
        order: 3;
    }
    
    .aboutus-item:nth-child(4){
        order: 4;
    }
    
    .aboutus-item:nth-child(5){
        order: 6;
    }
    
    .aboutus-item:nth-child(6){
        order: 5;
    }
    
    .aboutus-item:nth-child(7){
        order: 7;
    }
    
    .aboutus-item:nth-child(8){
        order: 8;
    }
    
    .aboutus-item:nth-child(9){
        order: 10;
    }
    
    .aboutus-item:nth-child(10){
        order: 9;
    }
    .aboutus-item:nth-child(11){
        order: 11;
    }
    
    .aboutus-item:nth-child(12){
        order: 12;
    }
    
    .aboutus-item:nth-child(13){
        order: 14;
    }
    
    .aboutus-item:nth-child(14){
        order: 13;
    }
    
    .aboutus-item:nth-child(15){
        order: 15;
    }
    
    .aboutus-item:nth-child(16){
        order: 16;
    }
    .title {
        font-size: 45px;
    }
    .btn{
        width: 300px;
        height: 70px;
        font-size: 35px;
    } 
    .btn-wrapper{
        display: flex;
        flex-direction: column;
    }
    .social{
        order: 2;
        display: flex;
    }
    .wrapper-first {
        display: flex;
        padding: 0 20px;
    }
    .social-itemm:first-child::before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background-image: url(../IMAGES/telegram.svg);
        top: 5px;
        left: 0;
    }
    .social-itemm:last-child::before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background-image: url(../IMAGES/instagram.svg);
        top: 5px;
        left: 0;
    }
    .logo-mob{
        display: block;
        padding: 30px 0;
        text-align: center;
    }
    .aboutus-item{
        width: 100%;
        text-align: center;
    }
    .numb {
        bottom: -19%;
        right: 43%;
    }
    .numb2 {
        bottom: -19%;
        left: 43%;
    }
    .pakeges{
        display: block;
        padding: 0;
    }
    .pakege-vibor{
        display: none;
    }
    .pakege-text{
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        font-size: 18px;
    }
}

@media (max-width:600px) {
    .partners{
        width: 100%;
        margin-bottom: 30px;
    }
    .contacts{
        width: 100%;
    }
    .partners-wrapper{
        justify-content: center;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .footer{
        padding: 40px 0;
    }
    .pakage-item {
        width: 400px;
        margin: auto;
        margin-bottom: 30px;
    }
    .about-list{
        display: block;
    }
    .about-list__item{
        margin-bottom: 20px;
    }
    .mob-section-title{
        font-size: 45px;
    }
    .spikers-list__item{
        padding: 70px 0;
    }
    .spikers{
        padding-bottom: 90px;
    }
    .line {
        width: 100%;
    }
    .line2 {
        width: 100%;
    }
    .anons{
        padding: 30px 0;
    }
    .anons-info{
        display: block;
    }
    .anons-txt{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
        font-size: 23px;
        font-weight: 700;
    }
    .anons-images{
        text-align: center;
        width: 100%;
    }
    .first-title {
        font-size: 25px;
    }
    .social-linkk{
        font-size: 25px;
    }
    .pakage-item {
        width: 100%;
    }
    .numb {
        bottom: -30%;
        right: 40%;
    }
    .numb2 {
        bottom: -30%;
        left: 40%;
    }
    .contacts{
        font-size: 18px;
        width: 90%;
    }
    .footer-contacts__title{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .footer-contacts__text{
        font-size: 18px;
    }
    .contact-list__link{
        font-size: 21px;
    }
    .footer-logo__img{
        width: 70%;
    }
    .footer-contacts__title{
        font-size:25px;
    }
}

@media (max-width:500px) {
    .header-top__list{
        top: 130px; 
    }
    .logo-mobile{
        width: 20%;
    }
    .date {
        font-size: 20px;
    }
    .title {
        font-size: 25px;
    }
    .social {
        display: none;
    }
    .first-title{
        font-size: 21px;
    }
    .section-title {
        font-size: 27px;
    } 
    .partners-list{
        width: 70%;
    }
    .aboutus-btn {
        width: 100%;
    }
}

@media (max-width:415px) {
    .numb {
        bottom: -30%;
        right: 38%;
    }
    .numb2 {
        bottom: -30%;
        left: 40%;
    }
}

@media (max-width:390px) {
    .numb {
        bottom: -30%;
        right: 38%;
    }
    .numb2 {
        bottom: -30%;
        left: 38%;
    }
}